classdef {{ name }}{% if inheritance %} < {{ inheritance }}{% endif +%}
    properties
        {% for member in members %}
        {% if member.type.map %}
        {{ member.name }} {{ member.validation.size}} struct {mustBeStructWithType({{ member.name }}, [{{ member.validation.must_be }}])}{% if member.default %} = {{ member.default }}{% endif +%}
        {% elif member.validation.non_pod %}
        {{ member.name }} {{ member.validation.size}} {mustBeAOrEmpty({{ member.name }}, [{{ member.validation.must_be }}])}{% if member.default %} = {{ member.default }}{% endif +%}
        {% else %}
        {{ member.name }} {{ member.validation.size}} {mustBeA({{ member.name }}, [{{ member.validation.must_be }}])}{% if member.default %} = {{ member.default }}{% endif +%}
        {% endif %}
        {% endfor %}
    end

    methods
        function obj = load_from_struct(obj, json_data)
            % Load object from struct
            arguments
                obj (1,1) {{ name }}
                json_data (1,1) struct
            end

            {% if inheritance %}
            load_from_struct@{{ inheritance }}(obj, json_data);
            {% endif %}

            {% for member in members %}
            {% if member.validation.non_pod %}
            % obj.{{ member.name }} = json_data.{{ member.name }};
            {% else %}
            if isfield(json_data, '{{ member.name }}') {# todo: this should check if the field is required +#}
                obj.{{ member.name }} = json_data.{{ member.name }};
            end
            {% endif %}
            {% endfor %}
        end
    end

    methods(Static)
        function obj = load_from_file(filename)
            % Load object from file
            arguments
                filename (1,1) string {mustBeFile}
            end

            raw_text = fileread(filename);
            json_data = jsondecode(raw_text);

            {% if polymorphic_base %}
            if isfield(json_data, 'type')
                type = json_data.type;
            else
                error('Missing type field');
            end

            if ~contains({{ sub_classes }}, type)
                error('Unsupported type: %s, must be: %s', type);
            end

            obj = eval([type '()']);
            {% else %}
            obj = {{ name }}();
            {% endif %}

            obj.load_from_struct(json_data);
        end
    end
end

{% if has_non_pod %}
function mustBeAOrEmpty(A,C)
    % Based on the built-in mustBeA function
    arguments
        A
        C {mustBeNonzeroLengthText}
    end

    if isempty(C)
        return;
    end

    C = string(C);

    if ~any(arrayfun(@(cls)isa(A,cls) || isempty(A), C), 'all')
        eid = 'Type:notValid';
        msg = sprintf('Argument must be empty or one of: %s', strjoin(C,', '));
        throwAsCaller(MException(eid,msg))
    end
end
{% endif %}

{% if has_map %}
function mustBeStructWithType(A,C)
    % Based on the built-in mustBeA function
    arguments
        A
        C {mustBeNonzeroLengthText}
    end

    if isempty(C)
        return;
    end

    C = string(C);

    structfun(@(A)mustBeA(A,C), A)
end
{% endif %}