from pydantic import BaseModel
from annotated_types import Len
from typing import List, Dict, Tuple, Union, Any, Annotated


{% for def in type_defs %}
{{ def.name }} = {{ def.type }}
{% endfor %}


{% for struct in structs%}
class {{ struct.name }}{% if struct.inheritance %}({{ struct.inheritance }}){% else %}(BaseModel){% endif %}:
    {% for member in struct.members %}
    {{ member.name }}: {{ member.type }}
    {% endfor %}
    {% if not struct.members %}
    pass
    {% endif %}


{% endfor%}