template <class Archive>
void serialize (Archive& t_archive)
{
    {% if def.inheritance %}
    cereal::base_class<{{ def.inheritance }}>( this ).base_ptr->serialize( t_archive );
    {% endif %}
    t_archive(
{% for member in def.members %}
{% if "attribute" in member.type %}
        poly_scribe::make_scribe_wrap( "{{ member.name }}", {{ member.name }})
{%- endif -%}
{%- if not loop.last and "attribute" in loop.nextitem.type %},{% endif +%}
{% endfor %}
    );
}