template <class Archive>
void serialize (Archive& t_archive)
{
    {% if def.inheritance %}
    cereal::base_class<{{ def.inheritance }}>( this ).base_ptr->serialize( t_archive );
    {% endif %}
{% if def.members|length > 0 %}
    t_archive(
{% for member in def.members %}
        poly_scribe::make_scribe_wrap( "{{ member.name }}", {{ member.name }}{% if member.default %}, true{% endif %})
{%- if not loop.last %},{% endif +%}
{% endfor %}
    );
{% endif %}
}